@tablet: ~"(min-width: 640px)";
@desktop-small: ~"(min-width: 1024px)";
@desktop-large: ~"(min-width: 1496px)";

:root {
  --blue-main: #0068FF;
  --font-paragraph: "Inter", sans-serif;
}

html, body {
  font-family: var(--font-paragraph);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

.limit-width {
  max-width: 1400px;
  margin-inline: 1rem;

  @media @tablet {
    margin-inline: 3rem;
  }

  @media @desktop-large {
    margin-inline: auto;
  }
}

.section {
  .limit-width();
}

#info-bar {
  background-color: var(--blue-main);
  padding-block: 9px;

  .info__list {
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: white;
    font-size: 13px;

    & li + li:before {
      content: "|";
      margin-right: 4rem;
    }
  }
}

// Header Navigation

#navigation {
  margin-block: 2.5rem;

  #offcanvasNavbarBackBtn.hide {
    display: none;
  }

  .offcanvas-body {
    position: relative;
    @media (min-width: 1400px) {
      position: static;
    }
  }
  
}

.nav--icon-link {
  border: 1px solid black;
  border-radius: 50%;
  a {
    display: block;
    padding: 8px;

    img {
      display: block;
    }
  }
}

#categories {
  #categories__menu {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 8px;
    border: 1px solid black;
    background-color: beige;

    &.hide {
      display: none;
    }

    .categories__menu-layout {
      display: grid;
      grid-template-columns: 332px 1fr;
      background-color: beige;
    }

    #categories__submenu {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: aqua;

      @media (min-width: 1400px) {
        position: static;
        height: auto;
      }

      &.mobile-hide {
        display: none;

        @media (min-width: 1400px) {
          display: flex;
        }
      }

      .categories__submenu-img {
        display: none;

        @media (min-width: 1400px) {
          display: block;
        }
      }

      .category-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    

    @media (min-width: 1400px) {
      top: 100%;
      height: auto;
    }
  }
}




.nav-social-media {
  display: flex;
  gap: 10px;
}





// Intro Carousel

#intro .intro-carousel__item {
  height: 520px;
}

.gallery {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 250px;

  @media @tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .gallery--item-lg {
      grid-row: span 2;
    }
  }

  @media @desktop-small {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px auto 250px;
  }
}

.promoted-header {
  display: flex;
}

.discount-banner__layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Footer
.footer-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

#footer-navigation  {
  grid-column: 1 / span 5;

  .accordion-header__screen-title {
    display: none;
  }

  @media @tablet {
    grid-column: 1 / span 3;
  }

  @media @desktop-small {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: subgrid;

    .accordion-collapse {
    display: block;
    transition: none;
    }
    .accordion-button {
      display: none;
    }
    .accordion-header__screen-title {
      display: block;
      padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
      font-size: 1rem;
      color: var(--bs-accordion-btn-color);
    }
  }
}

#footer-address {
  grid-column: span 5;

  @media @tablet {
    grid-column: 4 / span 2;
  }

  @media @desktop-small {
    grid-column: 5 / span 1;
  }
}

.payment-delivery {
  grid-column: 1 / span 4;
}

.payment-delivery-list {
  display: flex;
  gap: 12px;
}

.payment-delivery__option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 2rem;
  border: 1px solid black;
}

.social-media {
  display: flex;
  gap: 20px;
}