@import "navbar-styles.less";
@import "intro-styles.less";
@import "categories-styles.less";
@import "promoted-carousel-styles.less";
@import "discount-banner-styles.less";
@import "footer-styles.less";

@tablet: ~"(min-width: 640px)";
@desktop-small: ~"(min-width: 1024px)";
@desktop-large: ~"(min-width: 1496px)";

:root {
  --blue-main: #0068FF;
  --light-grey: #FAFAFA;
  --grey-stroke: #E3E3E3;
  --light-grey-secondary: #F6F6F6;
  --font-paragraph: "Inter", sans-serif;
}

html, body {
  font-family: var(--font-paragraph);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

p {
  margin: 0;
}

.limit-width {
  max-width: 1400px;
  margin-inline: 1rem;

  @media @tablet {
    margin-inline: 1.5rem;
  }

  @media @desktop-small {
    margin-inline: 3rem;
  }

  @media @desktop-large {
    margin-inline: auto;
  }
}

.section {
  .limit-width();
  margin-block: 3rem;
}

.btn-outline_light {
  color: white;
  font-size: 14px;
  padding-inline: 1rem;
  padding-block: 10px;
  border: 1px solid white;
  border-radius: 8px;
}

#info-bar {
  background-color: var(--blue-main);
  padding-block: 9px;

  .info__list {
    display: flex;
    justify-content: center;
    gap: 4rem;
    color: white;
    font-size: 13px;

    li:not(:first-child)::before {
      content: "|";
      margin-right: 4rem;
    }

    .tablet-hide {
      display: none;
      @media @desktop-small {
        display: block;
      }
    }
  }
}